.App {
  text-align: center;

  .nav-spacer {
    height: 50px;
  }

  .container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 1em;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 0;

    @media screen and (max-width: 600px) {
      flex-direction: column;
    }

    h2 {
      font-weight: 700;
      font-size: 2em;
      font-style: italic;
      text-align: left;

      @media screen and (max-width: 600px) {
        margin-bottom: 1rem;
      }
    }
  }

  .light-text {
    font-weight: 400;
  }

  // buttons
  .btn {
    border: none;
    background: none;
    margin: 1rem 0;
    border: 1px solid #000;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    font-size: 1.2em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      background: lightseagreen;
      color: #fff;
      border-color: lightseagreen;
    }
  }

  .remove {
    &:hover {
      background: orangered;
      border-color: orangered;
    }
  }
}
