.sneaker-list {
  padding: 1.5em 0;
  h1 {
    margin: 0em 0 1em;
    text-align: left;
  }

  .sneaker-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    gap: 1.5em;

    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }
  }
}
